html,
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #fff;
    font-family: Arial, sans-serif;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 5rem;
    font-weight: normal;
}




.home-content a, .home-content a:visited {
    margin-top: 20px;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
}

.home-content a:hover {
    text-decoration: underline;
}
